<div class="container">

<%= form_with model: article do |form| %>
    <div class="form-floating mb-2 py-2">
      <%= form.text_field :title, class: "form-control p-3", id: "floatingInput", placeholder: "Title" %>
      <%= form.label :title, for: "floatingInput" %><br>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div class="alert alert-danger" role="alert"> <%= message %> </div>
      <% end %>
    </div>
  
    <div class="form-floating mb-2 py-2">
      <%= form.text_area :body, class: "form-control p-4", id: "floatingTextarea", placeholder: "Content" %><br>
      <%= form.label :body, for: "floatingTextarea" %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>

    <div>
     <%= form.label :status, class: 'text-center d-block' %><br>
     <%= form.select(:status, ['public', 'private', 'archived'], {}, {class: "form-select"}) %>
    </div>
  
    <div>
      <%= form.submit class: "btn btn-outline-success w-50 mx-auto d-block mt-5" %>
    </div>

    

    
<% end %>

</div>
