<section class="section">
  <div class="container-md my-5">
    <div class="row">
      <%= link_to "Home", root_path, class: "nav-link" %>
        <div class="card border-light mb-3 col-12">
          <div class="card-header text-end px-5" style="background-color: #e3f2fd;">Author Name: Anonymous</div>
          <div class="card-body py-4">
              <h1 class="card-title text-uppercase text-center py-3 fs-2"> <%= @article.title %> </h1>
              <p class="card-text py-4 fs-4 text-justify"> <%= @article.body %> </p>
              <nav class="level">
              <hr>
              <div class="d-flex justify-content-evenly pt-4">
                <%= link_to "Edit", edit_article_path(@article), 
                              class: "btn btn-outline-info w-25 text-uppercase fw-bolder fs-6" %>
                <%= link_to "Destroy", article_path(@article),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-outline-danger w-25 text-uppercase fw-bolder fs-6" %>
              </div>
            </nav>
          </div>
      </div>
    </div>
  </div>
</section>

<h5 class="text-muted mb-3 text-center">Comments</h5>
<%= render @article.comments %>

<h5 class="text-muted text-center">Add a comment</h5>
<%= render 'comments/form' %>